$_blue_text: #01063c;
$_back_1_blue: #ddecf6;
$_menu: #e9f1fa;
$_transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$_button_arrow_blue: #14539a;
$_services_link_color: #3344fa;
$_white: #ffffff;
$_back_home_hover: #003876;
$_button: #6a1fb8;
$_button_hover: #480e84;
$_card_color: #ffffffcc;
$_card_shadow_mobile: 0 3px 3px 0 #0563ba40;
$_card_shadow_desktop: 0 4px 6px 0 #0563ba4d;
$_slider_buttons_border: #cecece;
$_faq_answer_color: #232323;
