.control-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  background-color: $_white;
  border: 0.8px solid $_slider_buttons_border;
  border-radius: 20px;

  transition: background-color $_transition, border-color $_transition;

  &:hover {
    background-color: $_button_arrow_blue;
    border-color: $_button_arrow_blue;
  }

  &-icon {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    transition: filter $_transition;
  }

  &:hover &-icon {
    filter: brightness(0) invert(1);
  }

  @include media(desktop) {
    width: 50px;
    height: 50px;

    border-radius: 25px;
  }
}
