.section {
  max-width: $mobile;
  margin: 0 auto;

  @include media(desktop) {
    max-width: $desktop;
  }
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  margin-bottom: 24px;

  @include font(20, 36);
  font-weight: 800;
  text-align: center;

  &::before,
  &::after {
    content: '';

    width: 44px;
    height: 15px;

    background-image: url('../img/section-title-decor-mob.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include media(desktop) {
      width: 175px;
      height: 38px;

      background-image: url('../img/section-title-decor-desk.png');
    }
  }

  &::after {
    transform: scaleX(-1);
  }

  @include media(desktop) {
    margin-bottom: 44px;
    gap: 26px;

    @include font(40, 80);
  }
}
