<section class="about">
  <div class="about-title-wrap">
    <img
      src="./img/about-icon-left-mob-2x.png"
      class="about-icon-left-mob"
      alt="about icon"
      width="44"
    />
    <img
      src="./img/about-icon-left-desk-2x.png"
      class="about-icon-left-desk"
      alt="about icon"
      width="155"
    />
    <h2 class="about-title">About the Game</h2>
    <img
      src="./img/about-icon-right-mob-2x.png"
      class="about-icon-right-mob"
      alt="about icon"
      width="44"
    />
    <img
      src="./img/about-icon-right-desk-2x.png"
      class="about-icon-right-desk"
      alt="about icon"
      width="155"
    />
  </div>
  <p class="about-text">
    Welcome to
    <span class="about-text-accent">Longleaf Valley: Merge Puzzle,</span>
    where your strategic thinking meets your love for nature! Help restore a
    once-thriving valley by merging objects, solving puzzles, and reviving flora
    and fauna. Each level brings a new challenge and an opportunity to bring
    harmony back to this enchanting ecosystem.
  </p>
  <img
    class="about-image-mob"
    src="./img/about-image-mob-2x.jpg"
    alt="about image"
    width="320"
  />
  <img
    class="about-image-desk"
    src="./img/about-image-desk-2x.jpg"
    alt="about image"
    width="1200"
  />
</section>
