<section class="benefits">
  <div class="benefits-title-wrap">
    <img
      src="./img/benefits-icon-left-mob-2x.png"
      class="benefits-icon-left-mob"
      alt="benefits icon"
      width="44"
    />
    <img
      src="./img/benefits-icon-left-desk-2x.png"
      class="benefits-icon-left-desk"
      alt="benefits icon"
      width="155"
    />
    <h2 class="benefits-title">Benefits</h2>
    <img
      src="./img/benefits-icon-right-mob-2x.png"
      class="benefits-icon-right-mob"
      alt="benefits icon"
      width="44"
    />
    <img
      src="./img/benefits-icon-right-desk-2x.png"
      class="benefits-icon-right-desk"
      alt="benefits icon"
      width="155"
    />
  </div>
  <div class="benefits-cards-wrap">
    <div>
      <div class="benefits-card">
        <h3 class="benefits-subtitle">Eco-Friendly Theme</h3>
        <p class="benefits-text">
          Immerse yourself in a game that highlights the importance of restoring
          nature
        </p>
      </div>
      <div class="benefits-card with-image">
        <img
          src="./img/wonder-girl-2x.jpg"
          class="benefits-card-image"
          alt="wonder girl"
        />
      </div>
      <div class="benefits-card mob-version">
        <h3 class="benefits-subtitle">Relaxing Atmosphere</h3>
        <p class="benefits-text">
          Discover hidden treasures, rare plants, and animal species as you
          progress
        </p>
      </div>
    </div>
    <div>
      <div class="benefits-card with-image">
        <img
          src="./img/girl-skiing-2x.jpg"
          class="benefits-card-image"
          alt="A girl is skiing."
        />
      </div>
      <ul class="benefits-card-list">
        <li class="benefits-card">
          <h3 class="benefits-subtitle">Addictive Merging Mechanics</h3>
          <p class="benefits-text">
            Enjoy simple yet challenging gameplay as you combine items to unlock
            new possibilities
          </p>
        </li>
        <li class="benefits-card">
          <h3 class="benefits-subtitle">Story-Driven Gameplay</h3>
          <p class="benefits-text">
            Follow the captivating story of rebuilding Longleaf Valley
          </p>
        </li>
        <li class="benefits-card with-avatar">
          <div class="benefits-card-subtitle-text">
            <h3 class="benefits-subtitle">Unlockable Wonders</h3>
            <p class="benefits-text">
              Discover hidden treasures, rare plants, and animal species as you
              progress
            </p>
          </div>
          <div class="benefits-avatar-wrap">
            <img
              class="benefits-card-avatar"
              src="./img/benefits-item-avatar-mob-2x.jpg"
              alt="wonder girl"
            />
          </div>
        </li>
        <li class="benefits-card desktop-version">
          <h3 class="benefits-subtitle">Relaxing Atmosphere</h3>
          <p class="benefits-text">
            Discover hidden treasures, rare plants, and animal species as you
            progress
          </p>
        </li>
      </ul>
      <div class="benefits-card with-image">
        <img
          src="./img/girl-dog-fox-2x.jpg"
          class="benefits-card-image"
          alt="girl with dog and fox"
        />
      </div>
    </div>
  </div>
</section>
