<section id="faq" class="section faq-section">
  <div class="container faq-container">
    <h2 class="section-title faq-section-title">FAQ</h2>
    <ul class="faq-list js-faq-list">
      <li class="faq-list__item js-faq-list-item">
        <div class="faq-question-box">
          <h3 class="faq-list__question">Is Longleaf Valley free to play?</h3>
          <button type="button" class="control-button faq-control-button">
            <img
              src="./img/vertical-arrow.png"
              alt="left-arrow"
              width="10.5"
              height="5.25"
              class="control-button-icon faq-arrow-icon"
            />
          </button>
        </div>

        <p class="faq-list__answer js-faq-answer">
          Yes, the game is free to download and play, with optional in-app
          purchases for faster progress.
        </p>
      </li>

      <li class="faq-list__item js-faq-list-item">
        <div class="faq-question-box">
          <h3 class="faq-list__question">Can I play offline?</h3>
          <button type="button" class="control-button faq-control-button">
            <img
              src="./img/vertical-arrow.png"
              alt="left-arrow"
              width="10.5"
              height="5.25"
              class="control-button-icon faq-arrow-icon"
            />
          </button>
        </div>

        <p class="faq-list__answer js-faq-answer">
          Absolutely! You can enjoy restoring the valley even without an
          internet connection.
        </p>
      </li>

      <li class="faq-list__item js-faq-list-item">
        <div class="faq-question-box">
          <h3 class="faq-list__question">
            Are there updates with new content?
          </h3>
          <button type="button" class="control-button faq-control-button">
            <img
              src="./img/vertical-arrow.png"
              alt="left-arrow"
              width="10.5"
              height="5.25"
              class="control-button-icon faq-arrow-icon"
            />
          </button>
        </div>

        <p class="faq-list__answer js-faq-answer">
          Yes, seasonal events and regular updates bring new challenges, areas,
          and rewards.
        </p>
      </li>

      <li class="faq-list__item js-faq-list-item">
        <div class="faq-question-box">
          <h3 class="faq-list__question">What makes this game unique?</h3>
          <button type="button" class="control-button faq-control-button">
            <img
              src="./img/vertical-arrow.png"
              alt="left-arrow"
              width="10.5"
              height="5.25"
              class="control-button-icon faq-arrow-icon"
            />
          </button>
        </div>

        <p class="faq-list__answer js-faq-answer">
          It’s not just a puzzle game; it’s a mission to restore and protect a
          beautiful virtual ecosystem while having fun.
        </p>
      </li>
    </ul>
  </div>
</section>
