<section class="features" id="features">
  <div class="features-title-wrap">
    <img
      src="./img/features-icon-left-mob-2x.png"
      class="features-icon-left-mob"
      alt="features icon"
      width="44"
    />
    <img
      src="./img/features-icon-left-desk-2x.png"
      class="features-icon-left-desk"
      alt="features icon"
      width="155"
    />
    <h2 class="features-title">Unique Features</h2>
    <img
      src="./img/features-icon-right-mob-2x.png"
      class="features-icon-right-mob"
      alt="features icon"
      width="44"
    />
    <img
      src="./img/features-icon-right-desk-2x.png"
      class="features-icon-right-desk"
      alt="features icon"
      width="155"
    />
  </div>
  <div class="features-list-wrap">
    <ul class="features-icons-list">
      <li class="features-icons-item">
        <img
          src="./img/eco-missions-icon-2x.png"
          alt="eco-missions icon"
          width="136"
          class="features-icon"
        />
      </li>
      <li class="features-icons-item">
        <img
          src="./img/seasonal-updates-icon-2x.png"
          alt="seasonal updates icon"
          width="136"
          class="features-icon"
        />
      </li>
      <li class="features-icons-item">
        <img
          src="./img/customization-options-icon-2x.png"
          alt="customization options"
          width="136"
          class="features-icon"
        />
      </li>
      <li class="features-icons-item">
        <img
          src="./img/community-involvement-icon-2x.png"
          alt="community involvement icon"
          width="136"
          class="features-icon"
        />
      </li>
    </ul>
    <ul class="features-list">
      <li class="features-item">
        <h3 class="features-subtitle">Eco-Missions</h3>
        <p class="features-text">
          Participate in weekly challenges that focus on saving endangered
          species or restoring specific areas
        </p>
      </li>
      <li class="features-item">
        <h3 class="features-subtitle">Seasonal Updates</h3>
        <p class="features-text">
          Experience unique events like Spring Bloom or Autumn Harvest with
          exclusive rewards
        </p>
      </li>
      <li class="features-item customized">
        <h3 class="features-subtitle">Customization Options</h3>
        <p class="features-text">
          Personalize your valley with rare plants, waterfalls, and landmarks
        </p>
      </li>
      <li class="features-item customized">
        <h3 class="features-subtitle">Community Involvement</h3>
        <p class="features-text">
          Join global players to contribute to a shared restoration project
        </p>
      </li>
    </ul>
  </div>
</section>
