<footer class="footer">
  <div class="footer-bg-container">
    <h2 class="footer-heading">Join the Longleaf Valley Community</h2>
  </div>
  <div class="nav-container">
    <nav class="legal-pages-nav">
      <ul class="legal-pages-nav-list">
        <li class="legal-pages-nav-list__item">
          <a
            href="./privacy-policy.html"
            aria-label="Read our Privacy Policy page"
            class="legal-pages-nav-list__link js-legal-nav-link"
            >Privacy Policy
          </a>
          &nbsp;|&nbsp;
        </li>
        <li class="legal-pages-nav-list__item">
          <a
            href="./terms-conditions.html"
            aria-label="Read our Terms and Conditions page"
            class="legal-pages-nav-list__link js-legal-nav-link"
            >Terms & Conditions</a
          >
        </li>
      </ul>
    </nav>

    <p class="center-note">©2024 SweetPathBliss.com, All Rights Reserved</p>
  </div>
</footer>
