<section id="gallery" class="section gallery-section">
  <div class="container gallery-container">
    <h2 class="section-title gallery-section-title">Gallery</h2>

    <div class="swiper gallery-swiper">
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-1.png"
            alt="gallery-slide-1"
            width="208"
            height="440"
            loading="lazy"
            class="gallery-img"
          />
        </li>

        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-2.png"
            alt="gallery-slide-1"
            width="208"
            height="440"
            loading="lazy"
            class="gallery-img"
          />
        </li>

        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-3.png"
            alt="gallery-slide-1"
            width="208"
            height="440"
            loading="lazy"
            class="gallery-img"
          />
        </li>

        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-4.png"
            alt="gallery-slide-1"
            width="208"
            height="440"
            loading="lazy"
            class="gallery-img"
          />
        </li>
      </ul>
    </div>

    <div class="slider-control-box gallery-slider-control-box">
      <button
        type="button"
        class="control-button prev-slider-button gallery-slider-button-prev"
      >
        <img
          src="./img/slider-arrow.png"
          alt="left-arrow"
          width="17"
          height="17"
          class="control-button-icon slider-arrow-icon gallery-slider-arrow-icon"
        />
      </button>
      <button
        type="button"
        class="control-button next-slider-button gallery-slider-button-next"
      >
        <img
          src="./img/slider-arrow.png"
          alt="right-arrow"
          width="17"
          height="17"
          class="control-button-icon slider-arrow-icon gallery-slider-arrow-icon"
        />
      </button>
    </div>
  </div>
</section>
