<section id="gallery" class="gallery-section">
  <div class="container gallery-container">
    <h2 class="section-title gallery-section-title">Gallery</h2>

    <div class="swiper gallery-swiper">
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-1.png"
            alt="gallery-slide-1"
            width="216"
            height="448"
            loading="lazy"
            class="gallery-img"
          />
        </li>

        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-2.png"
            alt="gallery-slide-1"
            width="216"
            height="448"
            loading="lazy"
            class="gallery-img"
          />
        </li>

        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-3.png"
            alt="gallery-slide-1"
            width="216"
            height="448"
            loading="lazy"
            class="gallery-img"
          />
        </li>

        <li class="gallery-list__item swiper-slide">
          <img
            src="./img/gallery-slide-4.png"
            alt="gallery-slide-1"
            width="216"
            height="448"
            loading="lazy"
            class="gallery-img"
          />
        </li>
      </ul>
    </div>

    <div class="slider-control-box gallery-slider-control-box">
      <button
        type="button"
        class="control-button prev-slider-button gallery-slider-button-prev"
      >
        <div class="slider-arrow-icon-box">
          <img
            src="./img/slider-arrow.png"
            alt="left-arrow"
            width="17.07"
            height="17.07"
            class="control-button-icon gallery-slider-arrow-icon"
          />
        </div>
      </button>
      <button
        type="button"
        class="control-button next-slider-button gallery-slider-button-next"
      >
        <div class="slider-arrow-icon-box">
          <img
            src="./img/slider-arrow.png"
            alt="left-arrow"
            width="17.07"
            height="17.07"
            class="control-button-icon gallery-slider-arrow-icon"
          />
        </div>
      </button>
    </div>
  </div>
</section>
