<section class="hero">
  <div class="hero-container">
    <div class="hero-image">
      <img src="./img/hero-mob-2x.jpg" alt="hero image" width="320" />
    </div>
    <div class="hero-wrap">
      <h1 class="hero-title">Longleaf Valley: Merge Puzzle</h1>
      <p class="hero-text">"Merge, Restore, and Bring Nature Back to Life!"</p>
      <div class="hero-google-play">
        <a
          class="hero-google-play-link"
          href="https://play.google.com/store/apps/details?id=com.treespleasegames.merge1"
        >
          <img
            src="./img/google-play-icon-2x.png"
            alt="google play icon"
            width="29"
            class="google-play-icon"
          />
          <div class="hero-link-logo">
            <img
              src="./img/get-it-on-2x.png"
              class="get-it-logo"
              alt="get it on logo"
              width="76"
            />
            <img
              src="./img/google-play-logo-2x.png"
              alt="google play logo"
              width="109"
              class="google-play-logo"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
