<div class="mob-menu js-menu-container">
  <div class="mob-menu-btn">
    <button type="button" class="mob-menu-close-btn js-close-menu">
      <img src="./img/mob-menu-close-icon-2x.png" width="32" />
    </button>
  </div>
  <div class="mob-menu-list-container">
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="./index.html">Home</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href=".#about">About the Game</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#benefits">Benefits</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#features">Unique Features</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#gallery">Gallery</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#faq">Faq</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <ul class="privacy-terms-list">
      <li class="privacy-terms-item">
        <a class="privacy-terms-link" href="./privacy-policy.html"
          >Privacy Policy
        </a>
      </li>
      <li class="privacy-terms-item">
        <a class="privacy-terms-link" href="./terms-conditions.html"
          >Terms of Service</a
        >
      </li>
    </ul>
  </div>
</div>
