<section class="review-section">
  <div class="container">
    <h2 class="section-heading">Reviews</h2>
    <div class="reviews-swiper">
      <ul class="review-list">
        <li class="review-list__item">
          <div class="user-info-box">
            <div class="user-info-box">
              <div class="avatar-container">
                <img
                  src="../img/GreenDreamer-avatar.jpg"
                  alt="GreenDreamer avatar"
                  width="36"
                  height="36"
                  class="avatar"
                />
              </div>
              <div class="username">GreenDreamer</div>
            </div>

            <div class="rating">★★★★★</div>
          </div>

          <div class="review">
            "The perfect mix of relaxation and challenge. I love watching the
            valley come to life!"
          </div>
        </li>
        <li class="review-list__item">
          <div class="user-info-box">
            <div class="user-info-box">
              <div class="avatar-container">
                <img
                  src="../img/MergeMaster-avatar.jpg"
                  alt="MergeMaster avatar"
                  width="36"
                  height="36"
                  class="avatar"
                />
              </div>
              <div class="username">MergeMaster</div>
            </div>

            <div class="rating">★★★★★</div>
          </div>

          <div class="review">
            "Beautiful graphics, engaging story, and the eco-missions are a
            great touch!"
          </div>
        </li>
      </ul>
      <div class="reviews-slider-control-box">
        <button type="button" class="reviews-slider-button-prev">
          <svg width="17.07" height="17.07" class="slider-arrow-icon">
            <use href="./img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="reviews-slider-button-next">
          <svg width="17.07" height="17.07" class="slider-arrow-icon">
            <use href="./img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
