<section id="reviews" class="section reviews-section">
  <div class="container reviews-container">
    <h2 class="section-title reviews-section-title">Reviews</h2>

    <div class="swiper reviews-swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-list__item swiper-slide">
          <div class="rating-box">
            <div class="user-info-box">
              <div class="avatar-container">
                <img
                  src="./img/GreenDreamer-avatar.jpg"
                  alt="GreenDreamer avatar"
                  width="36"
                  height="36"
                  class="avatar"
                />
              </div>
              <div class="username">GreenDreamer</div>
            </div>

            <div class="rating">
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
            </div>
          </div>

          <div class="review">
            "The perfect mix of relaxation and challenge. I love watching the
            valley come to life!"
          </div>
        </li>

        <li class="reviews-list__item swiper-slide">
          <div class="rating-box">
            <div class="user-info-box">
              <div class="avatar-container">
                <img
                  src="./img/MergeMaster-avatar.jpg"
                  alt="MergeMaster avatar"
                  width="36"
                  height="36"
                  class="avatar"
                />
              </div>
              <div class="username">MergeMaster</div>
            </div>

            <div class="rating">
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
            </div>
          </div>

          <div class="review">
            "Beautiful graphics, engaging story, and the eco-missions are a
            great touch!"
          </div>
        </li>

        <li class="reviews-list__item swiper-slide">
          <div class="rating-box">
            <div class="user-info-box">
              <div class="avatar-container">
                <img
                  src="./img/NatureLover-avatar.jpg"
                  alt="NatureLover avatar"
                  width="36"
                  height="36"
                  class="avatar"
                />
              </div>
              <div class="username">NatureLover</div>
            </div>

            <div class="rating">
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
            </div>
          </div>

          <div class="review">
            "A unique game that combines fun gameplay with a meaningful mission.
            Highly recommend!"
          </div>
        </li>

        <li class="reviews-list__item swiper-slide">
          <div class="rating-box">
            <div class="user-info-box">
              <div class="avatar-container">
                <img
                  src="./img/HappyPlayer-avatar.jpg"
                  alt="HappyPlayer avatar"
                  width="36"
                  height="36"
                  class="avatar"
                />
              </div>
              <div class="username">HappyPlayer</div>
            </div>

            <div class="rating">
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
              <div class="rating-star-icon-box">
                <img
                  src="./img/rating-star.png"
                  alt="Rating star"
                  width="12"
                  height="11"
                  class="rating-star-icon"
                />
              </div>
            </div>
          </div>

          <div class="review">
            "I can’t put this game down. Merging items and restoring the valley
            is so satisfying!"
          </div>
        </li>
      </ul>
    </div>

    <div class="slider-control-box reviews-slider-control-box">
      <button
        type="button"
        class="control-button prev-slider-button reviews-slider-button-prev"
      >
        <img
          src="./img/slider-arrow.png"
          alt="left-arrow"
          width="17"
          height="17"
          class="control-button-icon slider-arrow-icon"
        />
      </button>
      <button
        type="button"
        class="control-button next-slider-button reviews-slider-button-next"
      >
        <img
          src="./img/slider-arrow.png"
          alt="right-arrow"
          width="17"
          height="17"
          class="control-button-icon slider-arrow-icon"
        />
      </button>
    </div>
  </div>
</section>
