.gallery-section {
  min-height: 660px;
  padding-bottom: 82px;

  background-image: url('../img/gallery-back-mob.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    min-height: 1070px;
    padding-top: 38px;
    padding-bottom: 131px;
    background-image: url('../img/gallery-back-desk.jpg');
  }
}

.gallery-section-title {
  color: $_gallery_primary_accent_color;

  &::before,
  &::after {
    filter: brightness(0) saturate(100%) invert(27%) sepia(42%) saturate(335%)
      hue-rotate(107deg) brightness(97%) contrast(98%);
  }
}

.gallery-list {
  display: flex;

  &__item {
    border: 4px solid $_white;
    border-radius: 40px;
    overflow: hidden;
  }

  & .swiper-slide {
    box-sizing: border-box;
    width: 216px;
    height: 448px;

    @include media(desktop) {
      width: 328px;
      height: 680px;
    }
  }
}

.gallery-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.gallery-slider-control-box {
  margin-top: 30px;

  @include media(desktop) {
    margin-top: 47px;
  }
}

.gallery-slider-button-prev,
.gallery-slider-button-next {
  &:hover,
  &:active {
    background-color: $_gallery_primary_accent_color;
    border-color: $_gallery_primary_accent_color;
  }
}

.gallery-slider-arrow-icon {
  filter: brightness(0) saturate(100%) invert(27%) sepia(42%) saturate(335%)
    hue-rotate(107deg) brightness(97%) contrast(98%);
}
