.privacy-policy-section {
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: $_menu;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 99px;
  }
}

.privacy-policy-list {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include media(desktop) {
    gap: 54px;
  }
}

.privacy-policy-subtitle {
  font-weight: 700;
  margin-bottom: 5px;

  @include font(20, 30);

  @include media(desktop) {
    @include font(32, 38.4);
    margin-bottom: 18px;
  }
}

.privacy-policy-text {
  @include font(14, 21);

  @include media(desktop) {
    @include font(18, 26);
  }
}

.with-margin-bottom {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 39px;
  }
}

.service-providers-link {
  @include font(14, 21);

  @include media(desktop) {
    @include font(18, 26);
  }
}

.privacy-policy-page .legal-page-list {
  &__item {
    align-items: baseline;
    &::before {
      flex-shrink: 0;
      position: relative;
      top: -3px;
    }
  }
}
