.reviews-section {
  padding: 40px 0 33px;

  background-color: $_back_1_blue;

  @include media(desktop) {
    padding: 72px 0 102px;
  }
}

.reviews-section-title {
  color: $_blue_text;

  &::before,
  &::after {
    filter: brightness(0) saturate(100%) invert(11%) sepia(32%) saturate(2859%)
      hue-rotate(212deg) brightness(93%) contrast(120%);
  }

  &::before {
    @include media(to-desktop) {
      left: 52.5px;
    }
  }
}

.swiper.reviews-swiper {
  @include media(to-desktop) {
    margin-left: -3px;
    padding-left: 3px;
    padding-bottom: 6px;
  }

  @include media(desktop) {
    overflow: visible;
  }
}

.reviews-swiper {
  height: 214px;

  & .swiper-slide {
    box-sizing: border-box;
    height: calc((100% - 16px) / 2);

    @include media(desktop) {
      height: calc((100% - 24px) / 2);
    }
  }

  @include media(desktop) {
    height: 368px;
  }
}

.reviews-list {
  &__item {
    padding: 8px;
    padding-bottom: 10px;

    background-color: $_card_color;
    border-radius: 12px;
    box-shadow: $_card_shadow_mobile;

    @include media(desktop) {
      padding: 24px;
      padding-bottom: 32px;
      border-radius: 24px;
      box-shadow: $_card_shadow_desktop;
    }
  }
}

.rating-box,
.user-info-box {
  display: flex;
  align-items: center;
}

.rating-box {
  justify-content: space-between;
  padding-right: 2px;

  @include media(desktop) {
    padding-right: 21px;
  }
}

.avatar-container {
  width: 36px;
  height: 36px;
  margin-right: 9.11px;

  border-radius: 47.71px;
  overflow: hidden;

  @include media(desktop) {
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.username {
  @include font(15, 22);
  font-weight: 600;

  @include media(desktop) {
    @include font(24, 34);
  }
}

.rating {
  display: flex;
  gap: 8.68px;

  @include media(desktop) {
    gap: 8px;
  }
}

.rating-star-icon-box {
  width: 12px;
  height: 11px;

  @include media(desktop) {
    width: 16px;
    height: 15px;
  }
}

.rating-star-icon {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

.review {
  margin-top: 6px;
  @include font(13, 18);

  @include media(desktop) {
    margin-top: 14px;

    @include font(18, 21);
  }
}

.reviews-slider-control-box {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;

  @include media(desktop) {
    display: none;
  }
}

.reviews-slider-button-prev,
.reviews-slider-button-next {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  background-color: $_white;
  border: 0.8px solid $_slider_buttons_border;
  border-radius: 20px;

  transition: background-color $_transition, border-color $_transition;

  &:hover {
    background-color: $_button_arrow_blue;
    border-color: $_button_arrow_blue;
  }

  &:hover .slider-arrow-icon {
    filter: brightness(0) invert(1);
  }
}

.slider-arrow-button-box {
  width: 17.07px;
  height: 17.07px;
}

.slider-arrow-icon {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;

  transition: filter $_transition;
}

.next {
  transform: scaleX(-1);
}
