@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './benefits.scss';
@import './features.scss';
@import './gallery.scss';
@import './faq.scss';
@import './reviews.scss';
@import './footer.scss';
@import './components/index';
@import './utils/index';
@import './mob-menu.scss';

:root {
  font-family: 'Lato', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_blue_text;
  background-color: $_back_1_blue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  padding-top: 60px;

  @include media(desktop) {
    padding-top: 96px;
  }
}
