@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './benefits.scss';
@import './features.scss';
@import './gallery.scss';
@import './faq.scss';
@import './reviews.scss';
@import './footer.scss';

:root {
  font-family: 'Lato', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_blue_text;
  background-color: $_BACK_1_Blue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
